<div class="header">
  <h2>Задачи</h2>
  <button (click)="openCreate()">+ Добавить задачу</button>
</div>

<div *ngIf="loading">Загрузка...</div>

<ul
  *ngIf="!loading"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  <li *ngFor="let task of tasks" cdkDrag>
    <app-task-item
      [task]="task"
      (toggle)="toggleTask($event)"
      (edit)="openEdit($event)"
      (remove)="removeTask($event)"
    ></app-task-item>
  </li>
</ul>

<div *ngIf="editorVisible" class="modal-backdrop">
  <div class="modal-window">
    <app-task-editor
      [task]="editingTask"
      (save)="saveTask($event)"
      (cancel)="closeEditor()"
    ></app-task-editor>
  </div>
</div>
